/* created at 5:39 AM at 11/04/2022*/
/* react tabs scrollable */
:root {
  --rts-primary-color: #fd9e02;
  --rts-gray-color: #ddd;
  --rts-white-color: #fff;
}
.display___block {
  display: block;
}
.display____inline___block {
  display: inline-block;
}
.display___none {
  display: none !important;
}
@media (max-width: 991.98px) {
  .display___md___none {
    display: none !important;
  }
}

.rn___tabs___container {
  background-color: var(--rts-white-color);
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  margin: 10px 0;
  position: relative;
  display: flex;
}
@media (max-width: 991.98px) {
  .rn___tabs___container {
    padding: 5px;
  }
}
.rn___tabs {
  display: flex;
  overflow: auto;
  padding: 10px 0;
}
.rn___tabs.hide___rn___tabs___scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.rn___tabs.hide___rn___tabs___scroll::-webkit-scrollbar {
  display: none;
}
.rn___tab {
  padding: 10px 40px;
  white-space: nowrap;
  margin: 0 5px;
}
@media (max-width: 991.98px) {
  .rn___tab {
    margin: 0 2px;
  }
}
@media (max-width: 767.98px) {
  .rn___tab {
    padding: 5px 20px;
  }
}

.rn___nav___btn___container {
  display: flex;
}

.rn___btn {
  cursor: pointer;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid var(--rts-gray-color);
  transition: 0.3s all;
}
.rn___tab___selected {
  background-color: var(--rts-primary-color);
  border-radius: 40px;
  color: var(--rts-white-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.rn___nav___btn {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: bold;
}
.rn___nav___btn:hover {
  background-color: var(--rts-primary-color);
  transition: 0.5s all;
}
.rn___nav___btn:hover > svg {
  stroke: var(--rts-white-color);
}
@media (max-width: 767.98px) {
  .rn___nav___btn > svg {
    width: 15px;
  }
}
button:disabled.rn___btn,
button[disabled].rn___btn {
  /* border: 1px solid #999999; */
  cursor: not-allowed;
  color: var(--rts-gray-color);
}
button:disabled.rn___btn,
button[disabled].rn___btn svg {
  stroke: var(--rts-gray-color);
}

.rn___right___nav___btn {
}
.rn___left___nav___btn {
}
